*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background: #f8f8f8;
}
/* header section and nav */
header{
    width: 100vw;
}
nav{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}